{% assign sidebar = site.data.sidebars[page.sidebar].entries %}
{% assign thisLang = page.lang %}

<ul id="mysidebar" class="nav">
        {% if sidebar[0].product == "multilanguage" %}
                {% if sidebar[0][page.lang] %}  
  <li class="sidebarTitle">{{sidebar[0][page.lang]}} {{sidebar[0].version}}</li>
                {% else %}
  <li class="sidebarTitle">{{sidebar[0].en}} {{sidebar[0].version}}</li>
                {% endif %}
        {% else %}
  <li class="sidebarTitle">{{sidebar[0].product}} {{sidebar[0].version}}</li>
        {% endif %}
  {% for entry in sidebar %}
  {% for folder in entry.folders %}
  {% if folder.output contains "web" %}
  <li>
        {% if folder.title == "multilanguage" %}
            {% if folder[page.lang] %}  
      <a href="#">{{ folder[page.lang] }}</a>
            {% else %}
      <a href="#">{{ folder.en }}</a>
            {% endif %}
        {% else %}
      <a href="#">{{folder.title}}</a>
        {% endif %}
      <ul>
          {% for folderitem in folder.folderitems %}
          {% if folderitem.output contains "web" %}
          {% if folderitem.external_url %}
          <li><a href="{{folderitem.external_url}}" target="_blank">{{folderitem.title}}</a></li>
          {% elsif page.url == folderitem.url %}
          <li class="active"><a href="{{folderitem.url | remove: "/"}}">{{folderitem.title}}</a></li>
          {% elsif folderitem.type == "empty" %}
          <li><a href="{{folderitem.url | remove: "/"}}">{{folderitem.title}}</a></li>

         {% elsif thisLang == "en" %} <!--english-->
                    <li><a href="{{folderitem.url | remove: "/"}}">{{folderitem.title}}</a></li>

          {% elsif folderitem.lang contains thisLang and folderitem.m_title[page.lang]%} <!--multilang-->
                    <li><a href="{{thisLang}}_{{ folderitem.url | remove: "/"}}">{{folderitem.m_title[page.lang]}}</a></li>
          {% elsif folderitem.lang contains thisLang %} <!--multilang faalback-->
                    <li><a href="{{thisLang}}_{{ folderitem.url | remove: "/"}}">{{folderitem.title}}</a></li>
          {% endif %}
          {% for subfolders in folderitem.subfolders %}
          {% if subfolders.output contains "web" %}
          <li class="subfolders">
            {% if subfolders.title == "multilanguage" %}
                {% if subfolders[page.lang] %}  
              <a href="#">{{ subfolders[page.lang] }}</a>
                {% else %}
              <a href="#">{{ subfolders.en }}</a>
                {% endif %}
            {% else %}
              <a href="#">{{subfolders.title}}</a>
        {% endif %}
              <ul>
                  {% for subfolderitem in subfolders.subfolderitems %}
                  {% if subfolderitem.output contains "web" %}
                  {% if subfolderitem.external_url %}
                  <li><a href="{{subfolderitem.external_url}}" target="_blank">{{subfolderitem.title}}</a></li>
                  {% elsif page.url == subfolderitem.url %}
                  <li class="active"><a href="{{subfolderitem.url | remove: "/"}}">{{subfolderitem.title}}</a></li>
                  {% elsif thisLang == "en" %} <!--english-->
                                    <li><a href="{{subfolderitem.url | remove: "/"}}">{{subfolderitem.title}}</a></li>
                  {% elsif folderitem.lang contains thisLang %} <!--multilang-->
                                    <li><a href="{{subfolderitem.url | remove: "/"}}">{{subfolderitem.title}}</a></li>
                  {% endif %}
                  {% endif %}
                  {% endfor %}
              </ul>
          </li>
          {% endif %}
          {% endfor %}
          {% endif %}
          {% endfor %}
      </ul>
   </li>
     {% endif %}
      {% endfor %}
      {% endfor %}
      <!-- if you aren't using the accordion, uncomment this block:
         <p class="external">
             <a href="#" id="collapseAll">Collapse All</a> | <a href="#" id="expandAll">Expand All</a>
         </p>
         -->
</ul>

<!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above. Otherwise, if placed inside customscripts.js, the script runs before the sidebar code runs and the class never gets inserted.-->
<script>$("li.active").parents('li').toggleClass("active");</script>
